#mobile-menu-trigger {
  width: 30px;
  height: 30px;
  position: fixed;
  right: 1rem;
  top: 30px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1001;
  display: none;
}
@media screen and (max-width: 767px) {
  #mobile-menu-trigger {
    display: block;
  }
}
#mobile-menu-trigger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #333;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
/* Icon 3 */
#mobile-menu-trigger span:nth-child(1) {
  top: 0px;
}
#mobile-menu-trigger span:nth-child(2) {
  top: 10px;
}
#mobile-menu-trigger span:nth-child(3) {
  top: 20px;
}
#mobile-menu-trigger.active span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
#mobile-menu-trigger.active span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
#mobile-menu-trigger.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#mobile-menu-trigger.active span:nth-child(3) {
  top: 10px;
}
/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "LaLuxesScript";
  src: url("../fonts/SetSailStudios-LaLuxesScript.svg") format("svg"), /* Legacy iOS */ url("../fonts/SetSailStudios-LaLuxesScript.woff") format("woff"), /* Modern Browsers */ url("../fonts/SetSailStudios-LaLuxesScript.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  
  /* Modern Browsers */
}
.handwriting {
  font-family: "LaLuxesScript";
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #333;
  background: url("../img/background.png");
  overflow-x: hidden;
}
h1,
h2,
h3,
h4 {
  font-weight: 700;
}
h3 {
  font-size: 24px;
}
li,
p {
  line-height: 30px;
  letter-spacing: 0.05em;
}
a {
  color: #333;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
h1,
h2,
h3,
h4 {
  font-family: "LaLuxesScript", serif;
  margin-top: 0;
  font-weight: normal;
}
.main-section {
  margin: 50px 0;
}
#hero {
  height: 100vh;
  background-position: center bottom;
  background-size: cover;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  #hero {
    background-position: center;
  }
}
.main-menu-wrapper {
  padding: 40px 50px;
}
@media screen and (max-width: 767px) {
  .main-menu-wrapper {
    display: none;
  }
}
.mobile-menu-wrapper {
  padding: 10px 15px 30px;
  background: #fafafa;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
.mobile-menu-wrapper.visible {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
@media screen and (max-width: 767px) {
  .mobile-menu-wrapper {
    display: block;
  }
}
.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  letter-spacing: 2px;
  font-weight: 700;
  max-width: 850px;
}
@media screen and (max-width: 767px) {
  .main-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.main-menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .main-menu li {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-menu li + li {
    margin-top: 30px;
  }
}
.main-menu a {
  text-transform: uppercase;
  font-size: 12px;
}
@media screen and (max-width: 767px) {
  .main-menu a {
    padding: 12px;
  }
}
.logo path {
  -webkit-transition: fill 0.25s ease-in;
  transition: fill 0.25s ease-in;
}
.mobile-logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2rem;
}
.is-homepage .mobile-logo-wrapper {
  padding-top: 1rem;
}
@media screen and (min-width: 769px) {
  .mobile-logo-wrapper {
    display: none;
  }
}
.tag-line {
  font-size: 8rem;
  margin-bottom: 20px;
}
.we-care {
  height: 100vh;
  padding: 50px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.we-care .text-wrapper {
  width: 370px;
  position: absolute;
  top: 50%;
  left: 21%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.we-care .img-wrapper {
  height: 100%;
  width: 50%;
  background-size: contain;
  margin: auto 10% auto auto;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .we-care .img-wrapper {
    width: 100%;
    padding: 30px;
    margin: 0;
  }
}
.about {
  height: 100vh;
  padding: 50px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about .section-wrapper {
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
}
.about .text-wrapper {
  width: 410px;
  position: absolute;
  top: 50%;
  right: 250px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.about .img-wrapper {
  height: 100%;
  width: 75%;
  background-size: auto 100%;
  margin: auto auto auto 0;
  background-position: center top;
  -webkit-box-shadow: inset 300px 0 300px rgba(255, 255, 255, 0.3);
          box-shadow: inset 300px 0 300px rgba(255, 255, 255, 0.3);
  background-repeat: no-repeat;
}
.section-wrapper {
  max-width: 860px;
  margin: 0 auto;
}
.stories {
  padding: 50px 0;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .stories {
    padding: 1rem;
  }
}
.stories .tag-line {
  position: relative;
  z-index: 101;
  width: 200px;
}
@media screen and (max-width: 768px) {
  .stories .tag-line {
    width: initial;
  }
}
.stories .stories-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* display: grid;
    grid-template-columns: auto auto;
    row-gap: 30px;
    column-gap: 30px; */
  /* &:hover {
      .stories-list-item {
        opacity: 0.1;
      }
    } */
}
.stories .stories-list-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.stories .stories-list-item .stories-list-item-link {
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}
.stories .stories-list-item .stories-list-item-link.active {
  z-index: 110;
}
.stories .stories-list-item .stories-list-item-link.faded {
  opacity: 0.1;
}
.stories .stories-list-item video,
.stories .stories-list-item img {
  display: block;
  max-width: 100%;
}
.stories .stories-list-item:first-of-type {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.stories .stories-list-item:first-of-type a {
  margin: auto 35px auto auto;
  margin-top: -180px;
  z-index: 99;
}
.stories .stories-list-item:first-of-type img {
  width: 500px;
}
.stories .stories-list-item:nth-of-type(2) a {
  margin-left: -2rem;
  margin-top: -350px;
  z-index: 100;
}
.stories .stories-list-item:nth-of-type(2) img {
  width: 400px;
}
.stories .stories-list-item:nth-of-type(3) a {
  margin: auto 35px auto auto;
  margin-top: -180px;
  z-index: 99;
}
.stories .stories-list-item:nth-of-type(3) img {
  width: 500px;
  height: auto;
}
.stories .stories-list-item:nth-of-type(4) a {
  margin: auto auto auto -35px;
  margin-top: -250px;
  z-index: 98;
}
.stories .stories-list-item:nth-of-type(4) img {
  width: 500px;
  height: auto;
}
.stories .stories-list-item a {
  display: block;
  position: relative;
}
.stories .stories-list-item a h3 {
  position: absolute;
  bottom: 50px;
  left: 25px;
  max-width: 66%;
  font-size: 5rem;
  margin: 0;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
  text-transform: none;
  white-space: nowrap;
}
.stories .stories-list-item a:hover h3 {
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .stories .stories-list-item + .stories-list-item {
    margin-top: 1rem;
  }
  .stories .stories-list-item a {
    width: 100%;
    margin: initial !important;
  }
}
.post-wrapper {
  width: 850px;
  max-width: 90%;
  margin: 30px auto;
  padding-top: 70px;
  border-top: 1px solid #ddd;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .post-wrapper {
    padding-top: 3rem;
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.post-wrapper .images-list {
  margin: 85px 0 0;
  padding: 0;
  list-style: none;
}
@media screen and (max-width: 768px) {
  .post-wrapper .images-list {
    margin-top: 3rem;
  }
}
.post-wrapper .images-list img {
  max-width: 100%;
}
.post-wrapper .images-list li + li {
  margin-top: 15px;
}
.main-footer {
  background: #c18d6f;
  color: #fff;
  padding: 6rem 0 3rem;
  margin-top: 6rem;
  position: relative;
  background-image: url("../img/background-orange.jpg");
}
.main-footer p {
  margin-top: 0;
  margin-bottom: 0;
}
.main-footer a {
  color: #fff;
}
.main-footer .section-wrapper {
  width: 90%;
  max-width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.7fr 1fr;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
}
@media screen and (max-width: 767px) {
  .main-footer .section-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.main-footer .main-footer-column:first-of-type {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .main-footer .main-footer-column + .main-footer-column {
    margin-top: 3rem;
  }
}
.main-footer h3 {
  font-size: 4rem;
  letter-spacing: initial;
}
@media screen and (max-width: 767px) {
  .main-footer h3 {
    margin-bottom: 1rem;
  }
}
.main-footer .footer-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
}
.main-footer .footer-menu li + li {
  margin-top: 10px;
}
.main-footer .snapwidget-widget {
  max-width: 320px;
}
.main-footer .insta-link {
  display: block;
  cursor: pointer;
}
.main-footer .insta-link iframe {
  pointer-events: none;
}
.main-footer .copy {
  padding-top: 3rem;
  text-align: center;
}
.arrow-btn {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  width: 30px;
  cursor: pointer;
  /*  .arrow-btn-text {
    margin: auto;
  } */
  /* .arrow-btn-img {
    transition: border-color 0.2s ease-in, color 0.2s ease-in;
    border-radius: 50%;
    display: block;
    width: 24px;
    height: 24px;
    line-height: 22px;
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
    padding-left: 2px;
  } */
}
.arrow-btn:after {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 24px;
  height: 24px;
  color: #fff;
  background: url(../img/icons/arrow-next-white.svg) no-repeat center;
  background-size: 16px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.arrow-btn.btn-brand {
  color: #c18d6f;
}
.arrow-btn.btn-brand:after {
  background: url(../img/icons/arrow-next-brand.svg) no-repeat center;
  background-size: 16px auto;
}
.arrow-btn.btn-brand.prev:after {
  background: url(../img/icons/arrow-prev-brand.svg) no-repeat center;
  background-size: 16px auto;
}
.offer-section {
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 100px;
  background: url("../img/bg-offer.jpg") center;
  background-size: 720px 435px;
  padding: 100px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
@media screen and (max-width: 767px) {
  .offer-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 50px 95px;
  }
}
.offer-section:before {
  content: "";
  width: 2px;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: calc(100% - 200px);
  left: 50%;
  top: 50%;
}
@media screen and (max-width: 767px) {
  .offer-section:before {
    display: none;
  }
}
.offer-section h2,
.offer-section h3 {
  color: #fff;
}
.offer-section h3 {
  font-family: "Lato", sans-serif;
  letter-spacing: 4px;
  font-weight: 700;
  margin-bottom: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 133%;
}
.offer-section .tag-line {
  margin-bottom: 50px;
  line-height: 1;
}
.offer-section .image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.offer-section .image-wrapper .offer-image {
  width: 250px;
  height: 280px;
}
@media screen and (max-width: 767px) {
  .offer-section .image-wrapper .offer-image {
    width: 150px;
    height: 168px;
  }
}
.offer-section .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .offer-section .content-wrapper {
    margin-top: 3rem;
  }
}
.offer-section .list-wrapper + .list-wrapper {
  margin-top: 2rem;
}
.offer-section .grid-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.offer-section .offer-list {
  padding-left: 0;
  list-style-position: inside;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
}
.offer-section .offer-list li + li {
  margin-top: 0.5rem;
}
@media screen and (max-width: 767px) {
  .main-section {
    margin-top: 4rem;
  }
  .image-with-text-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
    height: auto;
  }
  .image-with-text-section .text-wrapper {
    position: static !important;
    -webkit-transform: initial !important;
            transform: initial !important;
    width: 100%;
  }
  .image-with-text-section .img-wrapper {
    padding-bottom: 50%;
    width: 100%;
    background-size: cover;
  }
  .tag-line {
    font-size: 4rem;
    margin-bottom: 1.5rem;
  }
}
.references {
  width: 66%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .references {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.references .tag-line {
  text-align: right;
  margin-bottom: -50px;
  z-index: 1;
  position: relative;
}
@media screen and (max-width: 768px) {
  .references .tag-line {
    margin-bottom: 1.5rem;
  }
}
.references .references-slider ul {
  margin: 0;
}
.references .slide-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .references .slide-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.references .slide-container .slide-image {
  width: 400px;
  height: 600px;
}
@media screen and (max-width: 768px) {
  .references .slide-container .slide-image {
    width: 100%;
    height: auto;
  }
}
.references .slide-container .slide-text {
  padding-left: 4rem;
}
@media screen and (max-width: 768px) {
  .references .slide-container .slide-text {
    padding: initial;
  }
}
.references .slide-container .slide-names {
  margin-top: 2rem;
  font-size: 2.5rem;
}
.references .references-slider-arrows {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #c18d6f;
}
@media screen and (max-width: 768px) {
  .references .references-slider-arrows {
    position: static;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.references .references-slider-arrow {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  outline: none;
}
.references .references-slider-arrow .btn {
  margin-top: auto;
}
.references .separator {
  height: 1px;
  width: 100px;
  background: #c18d6f;
  margin-left: 2rem;
  margin-right: 2rem;
}
.references .slider-position:after {
  content: "";
}
.coming-soon {
  margin: 4rem auto;
  text-align: center;
}
.coming-soon .handwriting {
  font-size: 5rem;
}
.coming-soon a {
  display: inline-block;
  margin-top: 2rem;
  text-decoration: underline;
}
.story-page .story-main {
  width: 1100px;
  max-width: calc(100% - 2rem);
  margin: 2rem auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.story-page .story-main .story-heading {
  font-size: 8rem;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .story-page .story-main .story-heading {
    font-size: 4rem;
    margin-bottom: 1.5rem;
  }
}
.story-page .story-main .story-content {
  margin-bottom: 2rem;
}
.story-page .story-main .story-content a {
  color: #c18d6f;
  text-decoration: underline;
}
.story-page .story-main .story-content a:hover {
  text-decoration: none;
}
.story-page .story-main .story-content .story-staff {
  list-style: none;
  padding: 0;
  margin: 0;
}
.story-page .story-list {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  grid-gap: 10px;
  grid-auto-flow: dense;
}
.story-page .story-list li {
  overflow: hidden;
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 50%;
          flex: 1 50%;
  padding: 0;
  margin: 0;
}
.story-page .story-list li.landscape {
  grid-column-end: span 2;
}
.story-page .story-list li img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}
